*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#header-section{
    background:linear-gradient(to right,#c2ac90,rgb(0, 0, 0),#c2ac90);
    width: 100vw;
    height: 15vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#menuIcon{
    display: none;
}

#mainLogo{
    margin-top: 1%;
    width: 50vw;
    height: 10vh;
    /* border-radius: 50%; */
    /* box-shadow: 2px 1px 3px 3px black; */
}
  
@media (max-width:600px){
    #header-section{
        background:linear-gradient(to left  ,black,#c2ac90);
        width: 100vw;
        height: 20vh;
        display: flex;
        gap:2vw;
    }
    #mainLogo{
        width: 90vw;
        height: 15vh;
        /* margin-top: 2vh; */
    }
}