#homepage {
  width: 100vw;
}

#homepage video{
  width: 120vw;
}

.about {
  width: 100vmax;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

#left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  text-transform: capitalize;
}

#left h1 {
  color: #cba16a;
  font-size: 4vh;
  text-align: center;
}

#left p {
  font-size: 3vh;
  text-transform: capitalize;
  display: flex;
}

#lady {
  width: 30vw;
  height: 80vh;
}

#left ol {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  li {
    font-size: 3vh;
  }
}

#left h4 {
  width: 50vw;
}

#wishes {
  color: gray;
}
#wishes span{
  color:rgba(0, 0, 0, 0.849);
}

#learn {
  background-color: #c2ac90;
  color: #030502;
  border: 0;
  width: 10vw;
  border-radius: 1vh;
  margin-top: 1vh;
}

.project {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h2 {
  height: auto;
  width: 50vw;
  font-size: 4vh;
}

.services {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 2vh;
}

.services h2 {
  height: auto;
  width: 100vw;
  font-size: 4vh;
}
#content {
  width: 20vw;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  box-shadow: 1px 1px 2px 2px gray;
  margin-bottom: 2vh;
}
#content img {
  width: 20vw;
}

#content h4 {
  color: #3c3c3c;
  height: 20%;
  text-align: center;
}

#content h5 {
  color: #5d5d5d;
  height: 10%;
  text-align: center;
}

#content button {
  height: 20%;
  border: 0;
  background-color: #323232;
  color: white;
  width: 40%;
  padding: 1vh;
  margin-bottom: 1vh;
}

@media (max-width: 600px) {

  @keyframes title-blink {
    0%,100%{
      color:transparent;
    }50%{
      color:#cba16a;
      text-shadow: 0 0 10px #cba16a, 0 0 20px #cba16a, 0 0 30px #cba16a;
    }
  }

  #left ol li:nth-child(1) {
    animation-delay: 0s;
  }
  #left ol li:nth-child(2) {
    animation-delay: 0.5s;
  }
  #left ol li:nth-child(3) {
    animation-delay: 1s;
  }
  #left ol li:nth-child(4) {
    animation-delay: 1.5s;
  }
  #left ol li:nth-child(5) {
    animation-delay: 2s;
  }

  ol li {
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: smaller;
    color: #cba16a ;
    animation: title-blink 5s ease infinite;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }

  #homepage{
    width: 100vw;
  }
  #video-heading{
    position: absolute;
    z-index: 5;
    width: 80vw;
    text-align: center;
    transform: translate(5vh,20vh);
    color : black;
    background-color: white;
    font-size: 3vh;
  }
  #homepage video{
    position:relative;
    z-index: -1;
    width: 250vw;
    transform: translateX(-25%);
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 5vh;
  }

  /* This is top in mobile*/
  #left {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #left h1 {
    background-color: transparent;
    height: 10vh;
    width: 98vw;
    font-weight: 600;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #left ol {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
  }
  #learn {
    width: 100%;
    height: 4vh;
    background-color: #cba16a;
    text-align: center;
    font-size: smaller;
    color: black;
  }

  #left h4 {
    overflow: hidden;
    background-color: transparent;
    height: auto;
    padding: 1vh;
    width: 80vw;
    font-size: 1.9vh;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #cba16a;

  }
  #wishes {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vh;
  }
  #wishes span{
    color: black;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    text-shadow: 0 0 10px #cba16a, 0 0 20px #cba16a, 0 0 30px #cba16a;
    animation: title-blink 5s ease infinite;
  }
  #lady {
    width: 90vw;
    height: 50vh;
  }
  .project {
    /* background-color: red; */
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .project h2 {
    width: 80vw;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 400;
    color:  #cba16a;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 10vw;
    border-top-right-radius: 10vw; */
    margin-bottom: 0.5vh;
    /* animation: title-blink 5s ease infinite; */
  }


  .services h2 {
    width: 80vw;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 400;
    color:  #cba16a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vh;
  }
  .services #content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    box-shadow: 1px 1px 10px 1px gray;
    background-color: rgba(0, 0, 0, 0.4);
    color:#cba16a;
  }

  #content img {
    width: 100%;
    height: 25vh;
  }

  #content h4 {
    font-weight: 500;
    width: 90%;
    font-size: 2vh;
    color:#cba16a;
  }

  #content h5{
    width: 100%;
    padding: 0.1vh;
    font-size: 1.8vh;
    font-weight: 300;
    color:#cba16a;
  }

  #content button {
    width: 50%;
    margin-bottom: 2vh;
    color: white;
    box-shadow: 1px 1px 10px 1px white;
  }
  
}